# === Python ===
__pycache__/
*.pyc
*.pyo
*.pkl

# === Node ===
node_modules/
dist/

# === Logs ===
*.log

# === Environment files ===
.env

# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
